# Python cache
__pycache__/
*.pyc
*.pyo
.env
__pycache__/
*.pyc

# Virtual environment
venv/
.env/
.venv/

# Environment variables (VERY IMPORTANT)
.env

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit cache
.streamlit/secrets.toml
.streamlit/cache/

# Temporary files
*.tmp